%h1.text-center
  Trips
%h4
  .row
    .col-md-3
    .col-md-3.text-center
      =link_to(approved_admin_trips_path) do
        View Approved Trips
    .col-md-3.text-center
      =link_to(not_approved_admin_trips_path) do
        View Not Approved Trips
=render partial: 'shared_index'



